<div class="row justify-content-center my-5">
    <div class="btn-group" role="group" aria-label="Basic example">
      <a type="button" href="{{route('users.index')}}" class="btn btn-primary {{url == '/admin/users'? 'active': ''}}">Usuários</a>
      <a type="button" href="{{route('users.create')}}" class="btn btn-primary {{url == '/admin/users/create'? 'active': ''}}">Novo usuário</a>
    </div>
</div>