<div class="row justify-content-center my-5">
    <div class="btn-group" role="group" aria-label="Basic example">
      <a type="button" href="{{route('categories.index')}}" class="btn btn-primary {{url == '/admin/categories'? 'active': ''}}">Categorias</a>
      <a type="button" href="{{route('categories.create')}}" class="btn btn-primary {{url == '/admin/categories/create'? 'active': ''}}">Nava categoria</a>
    </div>
</div>