<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <title>CRUD Adonis JS</title>
    @!section('style')
</head>
<body>
    <header>
        <!--Navbar -->
        <nav class="mb-1 px-5 navbar navbar-expand-sm navbar-dark secondary-color lighten-1">
            <a class="navbar-brand" href="{{route('welcome')}}">Adonis JS CRUD</a>
            <a class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
            aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{route('products.index')}}">Home
                </a>
                </li>
                
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons">
                @if(auth.user)
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-555" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    {{auth.user.username}}
                </a>
                <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-555">
                    <a class="dropdown-item" href="{{route('welcome')}}">Home</a>
                    <a class="dropdown-item" onclick="document.querySelector('form.logout').submit()">Sair</a>
                </div>
                </>
                  
                @else
                  <li class="nav-item">
                      <a href="{{route('login.index')}}" class="nav-link">Login</a>
                  </li>
                @endif
            </ul>
            </div>
        </nav>
        <!--/.Navbar -->
    </header>
    <form class="logout" style="display:none;" action="{{route('login.logout')}}" method="post">
        {{ csrfField() }}
    </form>
    
    <div class="container">
        <div class="row justify-content-center">
          <div class="btn-group" role="group" aria-label="Basic example">
            <a type="button" href="{{route('products.index')}}" class="btn btn-primary {{url == '/admin/products'? 'active': ''}}">Meus produtos</a>
            <a type="button" href="{{route('products.create')}}" class="btn btn-primary {{url == '/admin/products/create'? 'active': ''}}">Novo produto</a>
          </div>
        </div>
          
          
          
        @!section('root')
    </div>

    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
    @!section('script')
</body>
</html>